potentially all the MOOC related to ??
Datacamp
Pluralsight
Codecademy
III
Not sure wether to intergrate with UCD Bootcamp stuff

I'm so cold, don't want to move....
Still cold......
;)
You're not doing it, right?
Yes
Maybe this weekend?
Tomorrow, we fight!
I do fight, but in pluralsight java roleIQ, and it's pretty good honestly.
I'm tired, not doing it today.
Nah, not doing it~
Still nah
fork commit doesn't count as I can see it.....
sleepy boy don't want to work
why am I sooo tired...

2/3 - Tired for sure
2/5 - zzzz
2/6 - nah
2/7 - drunk
2/8 - good day sir
2/10- "Tom and Jerry" for some reason
2/11- Happy Chinese New year!
2/12- X-Park is pretty good:)
2/13- LEGO Colosseum 1/8!
2/14- EsliteBookStore!

Some example for me to start:
https://github.com/nordicgiant2/awesome-landing-page
https://github.com/StartBootstrap/startbootstrap-landing-page