potentially all the MOOC related to ??
Datacamp
Pluralsight
Codecademy
III
Not sure wether to intergrate with UCD Bootcamp stuff

1/9 - I'm so cold, don't want to move....
1/10- Still cold......
1/11- ;)
1/12- You're not doing it, right?
1/13- Yes
1/14- Maybe this weekend?
1/15- Tomorrow, we fight!
1/16- I do fight, but in pluralsight java roleIQ, and it's pretty good honestly.
1/20- I'm tired, not doing it today.
1/21- Nah, not doing it~
1/22- Still nah
1/25- fork commit doesn't count as I can see it.....
1/28- sleepy boy don't want to work
1/29- why am I sooo tired...

2/3 - Tired for sure
2/5 - zzzz
2/6 - nah
2/7 - drunk
2/8 - good day sir
2/10- "Tom and Jerry" for some reason
2/11- Happy Chinese New year!
2/12- X-Park is pretty good:)
2/13- LEGO Colosseum 1/8!
2/14- EsliteBookStore!
2/15- So it begins
2/16- Portfolio(potential choices)
       ├─/One page slider
       ├─/Personal Landing page 
       │  ├─/CV
       │  ├─/blog
       │  └─/MOOCs
       ├─/Demo online Pharmacy
       ├─/Demo online Health Center
       ├─/PKF Landing page
       │  ├─/Accounting Learning
       │  └─/Auditing learning
       ├─/Channel Well Technology Landing page
       └─/Coding Journey
          ├─100 of codes

///////////////////////Give the Tree some space yah?////////////////////
2/18- The expanse S5 is pure awesomeness!!!!
2/19- Long hours kill! Tire as f
2/20- Three Kingdom's Romance yeahhhhh
2/21- Richer!
2/22- Batch confirmation letter automation!
2/23- Why the expanse series book on amazon are not complete? why? where's 5 and 7??
2/24- I'mma excel pro baby! customized sort then insort aggregate then if pass in group percentage make check, finally, sort out all check. Auditing sampling done smart baby!!
2/25- WodaVision kinda work
2/26- WandaVision DOES work! The season 1 is solid!
2/27- I hate working over time....
2/28- Night cheery bud!

3/1 - Fin report
3/2 - why
3/3 - no
3/4 - I'm so fuxxing tired
3/5 - Busy as fyxx
3/6 - Undoing is OK

Some example for me to start:
https://github.com/nordicgiant2/awesome-landing-page
https://github.com/StartBootstrap/startbootstrap-landing-page